@using ForumClientApp.Models

@model List<SectionViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .alert-danger .btn-danger {
        float: right;
    }

    .alert-danger span {
        line-height: 35px;
    }

    .alert-danger > div:after {
        clear: both;
        content: '';
        display: table;
    }
</style>

<div class="container">
    <div class="alert alert-success">
        <form asp-controller="Home" asp-action="AddNewSection" method="post">
            <div>
                @Html.Label("SectionDescription", "New Section Name")
                @Html.TextBox("SectionDescription")
                <input type="submit" value="Creare new section" />
            </div>
        </form>
    </div>

    <div>
        @foreach (var item in Model)
        {
            <div class="alert alert-secondary">

                <div class="container">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <div>
                                <span><strong>section:@item.Id - @item.SectionDescription</strong></span>
                                <a asp-controller="Home"
                                   asp-action="DeleteSection"
                                   asp-route-id="@item.Id" class="btn btn-danger float-right">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="container">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var topic in item.Topics)
                                {
                                    <tr>
                                        <th>Id - @topic.Id</th>
                                        <td>
                                            <a asp-controller="Topic"
                                               asp-action="Index"
                                               asp-route-id="@topic.Id" ><span><strong>@topic.Description</strong></span></a>
                                        </td>
                                        <td>
                                            <a asp-controller="Topic"
                                               asp-action="DeleteTopic"
                                               asp-route-id="@topic.Id" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="alert alert-success">
                        <form asp-controller="Topic" asp-action="CreateNewTopic" method="post">
                            <div>
                                <input type="hidden" value="@item.Id" name="SectionId" />
                                @Html.Label("Description", "New Topic Name")
                                @Html.TextBox("Description")
                                <input type="submit" value="Create new topic" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

