@using ForumClientApp.Models

@model List<Section>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-controller="Home" asp-action="CreateSection" method="post">
        <div>
            @Html.Label("SectionDescription", "New Section Name")
            @Html.TextBox("SectionDescription")
            <input type="submit" value="Creare new section" />
        </div>
    </form>
</div>
<div>
    @foreach (var item in Model)
    {
        <div style="border: 1px solid; border-radius: 5px; margin: 5px; padding: 10px">
            <div style="border-bottom: 1px solid #000000"><p> <h2> section:@item.Id - @item.SectionDescription</h2> </p><br /></div>

            @foreach (var t in item.Topics)
            {
                <div>
                    <a asp-controller="Topic"
                       asp-action="Index"
                       asp-route-id="@t.Id">topic: @t.Id - @t.Description</a>
                </div>
            }
            <div style="border-top:1px solid #000000; padding-top: 5px; ">
                <form asp-controller="Home" asp-action="CreateSection" method="post">
                    <div>
                        @Html.Label("Description", "New Topic Name")
                        @Html.TextBox("Description")
                        <input type="submit" value="Create new topic" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("#button").click(getData);
    });

    function getData() {
        var url = "Home/Index";

        $.getJSON(url, function (data) {

            $("#button").text(123);
        })
    }
</script>