@model ForumClientApp.Models.TopicViewModel


<div class="container">
    <div class="alert alert-success">
        <h4 class="alert-heading">Topic:@Model.Id - @Model.Description</h4>
    </div>

    <div class="alert alert-secondary">
        <div class="container">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sub Topic</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subTopic in @Model.SubTopics)
                    {
                        <tr>
                            <th>Id - @subTopic.Id</th>
                            <td>@subTopic.Description</td>
                            <td><a class="btn btn-danger">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="alert alert-success">
                <form asp-controller="SubTopic" asp-action="CreateNewSubTopic" class="form-inline" method="post">
                    <div>
                        <label>New Sub Topic </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="hidden" name="TopicId" value="@Model.Id" class="form-control" />
                        <input name="Description" placeholder="Enter Sub Topic Name" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Create New Sub Topic</button>
                </form>
            </div>
        </div>

    </div>
</div>

